@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto';
   color: #fff;
}

html::-webkit-scrollbar {
   width: 10px;
   background-color: #181818;
   border-left: 1px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
   background-color: #606060;
}

.transparent {
   color: rgba(255, 255, 255, 0.6);
   fill: rgba(255, 255, 255, 0.6);
}

svg {
   fill: #fff;
}

button {
   background: none;
   border: none;
   cursor: pointer;
}

.list-title {
   font-size: 30px;
}
